#mainWinnersMap {
	text-align: center;
}

.header {
	padding: 60px;
	font-family: 'Abril Fatface', cursive;
	text-align:center;
	background: #DD783E;
	color: white;
	font-size: 30px;
}

.paragraph {
	padding: 40px;
	font-family: 'Roboto', sans-serif;
	font-size: 20px
}
.pure-g [class *= "pure-u"] {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

.l-box {
	padding: 10px;
}
